.input{
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 0.43rem;

  
  background-color: #EBEBFC;
  border: 2px solid #6363DB;
  color: #6363DB;
  outline: none;

  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;


}