.lettersUsed{
  width: 100%;
  margin-top: 3.25rem;
  border-top: 1px solid #C3C3C3;

}

.lettersUsed h5 {
  color: #32325F;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.lettersUsed > div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}