.letter {
  width: 3.37rem;
  height: 3.37rem;

  border-radius: 0.62rem;
  background-color: #EBEBFC;
  color: #6363DB;

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

}

.letterSmall {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.43rem;

  font-size: 1.25rem;
  font-weight: 500;
  border: 1px solid #6363DB;
}

.letterCorrect{
  background-color: #E1F5EC;
  border-color: #03AB4F;
  color: #03AB4F;
}

.letterWrong{
  background-color: #FFCF62;
  border-color: #691B09;
  color: #691B0A;
}